<form class="form-horizontal form-validation" name="form" novalidate>
	<h3>Add Benefits</h3>
	<div class="ngdialog-message">
		<div class="form-group">
			<label class="control-label col-md-3">
				Title
			</label>
			<div class="col-md-9">
				<input type="text" class="form-control" ng-model="benefit.title"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Description
			</label>
			<div class="col-md-9">
				<textarea style="resize:none;" class="form-control" rows="4" ng-model="benefit.description"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Start Date
			</label>
			<div class="col-md-9">
				<input type="date" class="form-control" ng-model="benefit.start_date"/>
			</div>
		</div>
	</div>
	<div class="ngdialog-buttons text-right">
	    <button type="button" class="btn btn-primary btn-o" ng-click="create()" ng-disabled="!form.$valid">Save</button>
	    <button type="button" class="btn" ng-click="closeThisDialog('cancel')">Cancel</button>
	</div>
</form>