<div class="questionnare ChoiceMultiAnswerSelectBox">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <div ng-repeat="item in control.items" ng-click="select(item)">
                <p ng-class="item.value ? 'selected-answer' : ''" ng-bind="item.title"></p>
            </div>
        </div>
    </div>
</div>
