<div class="form-group">
    <h3>{{control.title}} <i class="fa fa-pencil" data-ng-click="toggle()"></i></h3>
    <select class="cs-select cs-skin-elastic"
            ng-options="item.value as item.title for item in control.getItems()"
            ng-model="control.value">
    </select>
</div>