<div class="questionnare numberAllowcationConstantSum">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <textarea class="form-control" ng-model="control.value"></textarea>
        </div>
    </div>
</div>
