<div>
    <h3>{{control.title}} <i class="fa fa-pencil" data-ng-click="toggle()"></i></h3>
    <div class="radio" ng-repeat="item in control.items">
        <label>
            <input name="{{control.name}}" type="radio" ng-model="item.value" ng-value="{{item.value}}"/> {{item.title}}
        </label>
    </div>
</div>