<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix">
                <h1 class="mainTitle text-primary pull-left">Send Offer Letters</h1>

                <div class="pull-right title-btn">
                    <button class="btn btn-primary btn-o" type="button"><i class="fa fa-thumbs-up"></i> Select Template
                    </button>
                    <button class="btn btn-primary btn-o" type="button"><i class="fa fa-share-alt"></i> Share</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-white no-padding">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary">Candidates</h4>
                            <ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
                        </div>
                        <div class="panel-body">
                            <div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false"
                                 suppress-scroll-x="true">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr ng-class="{active: vm.isActive(item)}" ng-click="vm.select(item)" ng-repeat="item in vm.candidates">
                                            <td class="pointer">
                                                <div class="checkbox clip-check check-primary">
                                                    <input type="checkbox" id="candidate_{{item.id}}" checked="checked" />
                                                    <label for="candidate_{{item.id}}">{{item.name}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div class="panel-scroll" perfect-scrollbar wheel-propagation="false"
                                 suppress-scroll-x="true">
                                <textarea ckeditor="vm.ckeditorOptions" ng-model="body" rows="5" placeholder="" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group text-center margin-top-30">
						<button ng-click="vm.gotoReferenCheck()" class="btn btn-o btn-success" type="button"><i
								class="fa fa-arrow-left"></i> Reference Checks
						</button>
						<button ng-click="vm.gotoPlacementRecord()" class="btn btn-o btn-primary" type="button">
							Placement
							Records <i class="fa fa-arrow-right"></i></button>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
