<div class="questionnare ChoiceMultiAnswerHorizontal">
    <div class="panel panel-white">
        <div class="panel-heading">
        	<strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <table class="col-xs-12">
                <tr>
                    <td ng-repeat="item in control.items">
                        <input type="checkbox" id="answer-{{control.name}}-{{$index}}" ng-model="item.value" ng-change="select(item)">
                        <label for="answer-{{control.name}}-{{$index}}" ng-bind="item.title"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
