<div class="row">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="logo">
			<img src="img/logo-home.png">
		</div>
		<!-- start: LOGIN BOX -->
		<div class="box-login">
			<form class="form-login" ng-submit="vm.login()">
				<fieldset>
					<p>
						Please enter your email and password to log in.
					</p>
					<div class="form-group">
						<span class="input-icon">
							<input type="text" class="form-control" ng-model="vm.form.email" placeholder="Email">
							<i class="fa fa-user"></i> </span>
					</div>
					<div class="form-group form-actions">
						<span class="input-icon">
							<input type="password" class="form-control" ng-model="vm.form.password" placeholder="Password">
							<i class="fa fa-lock"></i>
							</span>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary btn-o pull-right">
							Login <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</fieldset>
			</form>
		</div>
		<!-- end: LOGIN BOX -->
	</div>
</div>