<div class="fade-in-up">
	<div class="row">
		<div class="breadcrumb-nav col-lg-2 col-md-3">
			<ul>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs-create.create">
						<i class="fa fa-dribbble"></i> Create Job
					</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="fa fa-question-circle"></i> Create interview, assessment, and Questionnaire</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="fa fa-group"></i> Review Candidates</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="ti-microphone"></i> Phone Screen</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="ti-video-clapper"></i> Review Video Interview</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="fa fa-thumbs-up"></i> Review Questionnaire and Results</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="ti-book"></i> Interview Notes</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="ti-check"></i> Reference Checks</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="ti-bookmark-alt"></i> Offer Letter</a>
				</li>
				<li class="link-disabled">
					<a href="#"><i class="ti-settings"></i> Placement Record</a>
				</li>
			</ul>
		</div>
		<div class="container-breadcrumb col-lg-10 col-md-9 fade-in-up" ui-view>
		</div>
	</div>
</div>