<div class="questionnare rankOrder">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
                <p ng-bind="control.description"></p>
            </div>
            <table class="col-xs-12">
                <tr ng-repeat="item in control.items">
                    <td ng-bind="item.title"></td>
                    <td>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="item.value" ng-change="change(item)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
