<section id="page-title" class="padding-top-15 padding-bottom-15"  ng-controller="RevenueCtrl">
<div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-left"><h1 class="mainTitle text-primary">Revenue</h1></div>
			<div class="clearfix md-pull">
				<form class="form-inline pull-right">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="From" bs-datepicker ng-model="start_date" data-autoclose="1" data-date-type="string" data-date-format="{{app.format_date}}" data-container="body" />
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="To" bs-datepicker ng-model="end_date" data-autoclose="1" data-date-type="string" data-date-format="{{app.format_date}}" data-container="body" data-min-date="{{start_date}}"/>
				</div>
				<div class="form-group">
					<button ng-click="search()" type="button" class="btn btn-primary btn-o">Get</button>
				</div>
			</form>
			</div>
        </div>
</div>
<div class="container-fluid container-fullw padding-bottom-10">
    <div class="row">
        <div class="col-sm-12">
			<div class="panel panel-white no-radius" id="visits">
				<div class="panel-heading border-light">
					<h4 class="panel-title"> Total Revenue </h4>
				</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="height-350">
							<canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
							<div class="margin-top-20">
								<div tc-chartjs-legend chart-legend="chart1" class="inline pull-right"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

        </div>
    </div>
	{{vm.data}}
	 <div class="row">
        <div class="col-sm-12">
			<div class="panel panel-white no-radius" id="visits">
				<div class="panel-heading border-light">
					<h4 class="panel-title"> Revenue </h4>
				</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<table class="table table-striped table-hover margin-top-20">
							<thead>
							<tr>
								<th>
									Month
								</th>
								<th>
									Amount
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in revenueData">
								<td>{{item.mon}}</td>
								<td>{{item.revenue}}</td>
							</tr>
							<tr ng-if="revenueData.length === 0">
								<td colspan="2">
									No record found!
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>

        </div>
    </div>
</div>
	
</section>