<section id="page-title" style="border:0" class="padding-top-15 padding-bottom-15" ng-controller="RevenueCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group margin-top-15">
                <h1 class="mainTitle text-primary">Subscriptions</h1>
            </div>
            <div class="divider"><hr /></div>
            <div class="clearfix margin-top-15">
                <form class="form-inline">
                    <div class="form-group">
                        <select>
                            <option>Select Subscriptions</option>
                            <option>Per User - $100</option>
                            <option>Monthly - $4000.00</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-o">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>