<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.pages.INVOICE">{{ mainTitle }}</h1>
            <span class="mainDescription">Beautifully simple invoicing and payments. Give clients attractive invoices, estimates, and receipts.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: INVOICE -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="invoice">
                <div class="row invoice-logo">
                    <div class="col-sm-6">
                        <img alt="" src="http://cdn.project-disco.org/wp-content/uploads/2013/10/DEMO-logo.png">
                    </div>
                    <div class="col-sm-6">
                        <p class="text-dark">
                            #1233219 / 01 Jan 2014 <small class="text-light"> Lorem ipsum dolor sit amet </small>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Client:</h4>
                        <div class="well">
                            <address>
                                <strong class="text-dark">Customer Company, Inc.</strong>
                                <br> 1 Infinite Loop
                                <br> Cupertino, CA 95014
                                <br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                            <address>
                                <strong class="text-dark">E-mail:</strong>
                                <a href="mailto:#">
                                    info@customer.com
                                </a>
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h4>We appreciate your business.</h4>
                        <div class="padding-bottom-30 padding-top-10 text-dark">
                            Thanks for being a customer. A detailed summary of your invoice is below.
                            <br> If you have questions, we're happy to help.
                            <br> Email support@cliptheme.com or contact us through other support channels.
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <h4>Payment Details:</h4>
                        <ul class="list-unstyled invoice-details padding-bottom-30 padding-top-10 text-dark">
                            <li>
                                <strong>V.A.T Reg #:</strong> 233243444
                            </li>
                            <li>
                                <strong>Account Name:</strong> Company Ltd
                            </li>
                            <li>
                                <strong>SWIFT code:</strong> 1233F4343ABCDEW
                            </li>
                            <li>
                                <strong>DATE:</strong> 01/01/2014
                            </li>
                            <li>
                                <strong>DUE:</strong> 11/02/2014
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Title </th>
                                    <th class="hidden-480"> Date </th>
                                    <th class="hidden-480">
                                        <div class="dropdown">
                                            <span type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Status <span class="caret"></span></span>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li ng-repeat="st in validInvoiceStatus" ng-click="changeStatusFilter(st)">
                                                    <a ng-bind="st"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th class="hidden-480"> Amount </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in invoices">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="invoice.name"></td>
                                    <td class="hidden-480" ng-bind="invoice.getDateTime()"></td>
                                    <td class="hidden-480" ng-bind="invoice.status"></td>
                                    <td><span>$</span><span ng-bind="invoice.amount"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-show="showpagination">
                    <ul class="pagination pull-right">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li ng-repeat="p in pages" ng-class="page == p ? 'active' : ''" ng-click="setPage(p)"><a ng-bind="p"></a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-sm-12 invoice-block">
                        <ul class="list-unstyled amounts text-small">
                            <li>
                                <strong>Sub-Total:</strong> <span ng-bind="invoices | SubTotalFilter:status"></span>
                            </li>
                            <li>
                                <strong>Discount:</strong> <span ng-bind="discount"></span><span>%</span>
                            </li>
                            <li>
                                <strong>VAT:</strong> <span ng-bind="vat"></span><span>%</span>
                            </li>
                            <li class="text-extra-large text-dark margin-top-15">
                                <strong>Total:</strong>
                                <span$</span><span ng-bind="invoices | TotalFilter:status:discount:vat"></span>
                            </li>
                        </ul>
                        <br>
                        <a onclick="javascript:window.print();" class="btn btn-lg btn-primary hidden-print">
                            Print <i class="fa fa-print"></i>
                        </a>
                        <a class="btn btn-lg btn-primary btn-o hidden-print">
                            Submit Your Invoice <i class="fa fa-check"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: INVOICE -->
