<div class="questionnare matrixMultiAnswerPerRow">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <table class="col-xs-12">
                <tr>
                    <td></td>
                    <td ng-repeat="item in control.items" ng-bind="item.title" class="text-center"></td>
                </tr>
                <tr ng-repeat="value in control.values">
                    <td ng-bind="value.title"></td>
                    <td ng-repeat="it in value.items" class="text-center">
                        <input type="checkbox" ng-model="it.value">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
