<div class="container-fluid container-fullw bg-white interview-note">
	<div class="row">
		<div class="col-md-12">
			<div class="clearfix">
				<h1 class="mainTitle text-primary pull-left">Interview Notes</h1>
				<div class="pull-right title-btn">
					<button class="btn btn-primary btn-o upload-btn" type="button"><i class="fa fa-upload"></i> Upload notes</button>
					<button class="btn btn-primary btn-o upload-btn" type="button" ng-click="vm.saveInterviewNote(vm.body)">Save</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-white no-padding">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Candidates</h4>
							<ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
						</div>
						<div class="panel-body">
							<div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
								<div class="table-responsive">
									<table class="table table-hover">
										<tbody>
											<tr ng-class="{active: vm.isActive(item)}" ng-click="vm.select(item)" ng-repeat="item in vm.candidates">
												<td class="pointer">
													{{item.name}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<form>
						<div class="form-group">
							<textarea ckeditor="vm.ckeditorOptions" ng-model="vm.body" rows="5" placeholder="" class="form-control"></textarea>
						</div>
					</form>
				</div>
			</div>
			<div class="form-group floating-nav-jobs text-center">
				<div>
					<button ng-click="vm.gotoQuestionResult()" class="btn btn-o btn-success" type="button"><i class="fa fa-arrow-left"></i> Questionnaire and Assessment Results</button>
					<button ng-click="vm.gotoRefenCheck()" class="btn btn-o btn-primary" type="button">Reference Checks <i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
