<div class="container-fluid container-fullw  bg-white review-video-interview">
    <div class="row">
        <div class="inline-video col-md-12">
            <h1 class="mainTitle text-primary">
                Review Video Interview:  <h4 class="title text-primary">
                {{vm.getInterviewName()}}
            </h4>
            </h1>
        </div>
    </div>
    <div class="row header-large-screen">
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <input  ng-model="vm.keyword" ng-keypress="vm.keypress($event)" type="text" class="form-control" placeholder="Search" />
                    <span ng-click="vm.search()" class="input-group-addon pointer"> <i class="ti-search"></i> </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-3">
            <div class="form-group text-right">
                <button ng-click="vm.share()" class="btn btn-primary btn-o" type="button">
                    <i class="fa fa-share-alt"></i> Share
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group header-inline">
                        <div class="input-group">
                            <input  ng-model="vm.keyword" ng-keypress="vm.keypress($event)" type="text" class="form-control" placeholder="Search" />
                            <span ng-click="vm.search()" class="input-group-addon pointer"> <i class="ti-search"></i> </span>
                        </div>
                    </div>
                    <div class="panel panel-white no-padding candidate-video">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary">Candidates</h4>
                            <ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
                        </div>
                        <div class="panel-body">
                            <div class="panel-scroll video-interview-candidate-list" perfect-scrollbar wheel-propagation="false"
                                 suppress-scroll-x="true">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-class="{active: vm.isActive(item)}" ng-click="vm.select(item); vm.getInterviewVideos({{item.id}})" ng-repeat="item in vm.candidates" id="{{item.id}}">
                                                <td class="pointer">
                                                    {{item.name}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-heading header-inline">
                        <h4 class="title text-primary">
                            {{vm.getInterviewName()}}
                        </h4>
                    </div>
                    <div class="video-review-cover">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                    </div>
                    <div class="panel panel-white margin-top-20 no-padding video-review-notes">
                        <div class="panel-heading">Quick Notes</div>
                        <div class="panel-body">
                            <textarea ng-model="vm.note" rows="5" placeholder="" class="form-control height-100">I would like to apply this Job.</textarea>
                        </div>
                        <div class="panel-footer text-right">
                            <button ng-click="vm.saveNote()" class="btn btn-primary btn-o" type="button">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group text-right header-inline">
                        <button ng-click="vm.share()" class="btn btn-primary btn-o" type="button">
                            <i class="fa fa-share-alt"></i> Share
                        </button>
                    </div>
                    <div class="panel panel-white question-list">
                        <div class="panel-body">
                            <div class="panel-scroll video-interview-question-list" perfect-scrollbar wheel-propagation="false"
                                 suppress-scroll-x="true">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr ng-class="{active: vm.isQuestionActive(item)}" ng-click="vm.selectQuestion(item); vm.getclicked({{$index + 1}},{{vm.questions.length}})" ng-repeat="item in vm.questions">
                                            <td class="pointer">
                                                {{item.title}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="margin-bottom-5">
                        Invite candidate to Questionnaire?
                    </p>
                    <div class="text-center">
                        <button ng-if="vm.showInvite()" ng-disabled="!vm.isCandidateSelected()" ng-click="vm.inviteToQuestion()" class="btn btn-primary btn-o" type="button">Invite</button>
                        <button ng-if="!vm.showInvite()" ng-disabled="true" class="btn btn-success btn-large btn-o" type="button">Invited</button>
                    </div>
                </div>
            </div>
            <div class="form-group floating-nav-jobs text-center btn-video">
                <div>
                <button ng-click="vm.gotoPhoneScreen()" class="btn btn-o btn-success" type="button"><i
                        class="fa fa-arrow-left"></i> Phone Screen
                </button>
                <button ng-click="vm.gotoQuestionResult()" class="btn btn-o btn-primary" type="button">
                    Questionnaire/Assessments <i class="fa fa-arrow-right"></i></button>
            </div>
                </div>
        </div>
    </div>
</div>
