<div class="container-fluid container-fullw bg-white reference-checks">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mainTitle text-primary">Review Questionnaire and Assessment Results: {{vm.getInterviewName()}}</h1>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon"><i class="ti-search"></i> </span>
                        </div>
                        <button class="btn btn-primary btn-o" ng-click="vm.parseHtml()">Show</button>
                    </div>

                    <div class="form-group text-center">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-primary btn-o" ng-click="vm.changeFilter('pass')" ng-class="{active:vm.checkFilter('pass')}" href="#">
                                Pass
                            </a>
                            <a class="btn btn-primary btn-o" ng-click="vm.changeFilter('fail')" ng-class="{active:vm.checkFilter('fail')}" href="#">
                                Fail
                            </a>
                            <a class="btn btn-primary btn-o" style="padding:0" ng-click="vm.changeFilter('pending')" ng-class="{active:vm.checkFilter('pending')}" href="#">
                                Pending
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-white no-padding">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary">Select Candidate to Review</h4>
                            <ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
                        </div>
                        <div class="panel-body">
                            <div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false"
                                 suppress-scroll-x="true">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr ng-class="{active: vm.isActive(item)}" ng-click="vm.select(item)" ng-repeat="item in vm.candidates">
                                            <td class="pointer">
                                                {{item.name}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
                <div class="col-md-9">
                    <div class="form-group text-right">
						<h3 class="title text-bold pull-left">Score: 96/100 - PASS</h3>
                        <button ng-click="vm.setButtonActive('question')" ng-class="{'btn-primary btn-o': vm.checkActive('question')}" class="btn btn-default " type="button"><i class="fa fa-tasks"></i> Review
                            Questionnaire
                        </button>
                        <button ng-click="vm.setButtonActive('assessment')" ng-class="{'btn-primary btn-o': vm.checkActive('assessment')}" class="btn btn-default" type="button"><i class="fa fa-tasks"></i> Review Assessment
                        </button>
                    </div>
					<div class="panel panel-white">
                        <div class="panel-body question-result-list" style="padding:0">
                            <div class="panel-scroll review-question-content" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                                <table ng-hide="vm.isButtonsActive" class="table no-margin margin-bottom-10 table-striped table-user ng-scope">
                                    <thead>
                                        <tr>
                                            <th>Question</th>
                                            <th>Answer</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>What is the Question?</td>
                                            <td>This is the Answer.</td>
                                            <td>Right</td>
                                        </tr>
                                        <tr>
                                            <td>What is the Question?</td>
                                            <td>This is the Answer.</td>
                                            <td>Right</td>
                                        </tr>
                                        <tr>
                                            <td>What is the Question?</td>
                                            <td>This is the Answer.</td>
                                            <td>Right</td>
                                        </tr>
                                        <tr>
                                            <td>What is the Question?</td>
                                            <td>This is the Answer.</td>
                                            <td>Right</td>
                                        </tr>
                                        <tr>
                                            <td>What is the Question?</td>
                                            <td>This is the Answer.</td>
                                            <td>Right</td>
                                        </tr>
                                        <tr>
                                            <td>What is the Question?</td>
                                            <td>This is the Answer.</td>
                                            <td>Right</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-show="vm.isButtonsActive" class="padding-10">
                                    <h2 class="text-bold text-center" style="font-size:125px;margin-top:80px;">9.5/10</h2>
                                    <h3 class="text-bold text-center">Assessment Score</h3>
                                </div>
                            </div>
                        </div>
			
					
						<div class="clearfix margin-top-20">
							<h2 class="pull-left text-bold">&nbsp;</h2>
							<div class="pull-right col-md-4">
								<button ng-if="vm.showInvite()" ng-disabled="!vm.isCandidateSelected()" ng-click="vm.invite()" class="btn btn-primary btn-o" type="button">Invite to interview</button>
								<button ng-if="!vm.showInvite()" ng-disabled="true" class="btn btn-success btn-large btn-o" type="button">Invited</button>
							</div>
						</div>
							
                    </div>
                    
                </div>
            </div>
            <div class="form-group floating-nav-jobs text-center">
                <div>
                <button ng-click="vm.gotoVideo()" class="btn btn-o btn-success" type="button"><i
                        class="fa fa-arrow-left"></i> Review Videos
                </button>
                <button ng-click="vm.gotoInterviewNote()" class="btn btn-o btn-primary btn-o" type="button">Interview Notes <i class="fa fa-arrow-right"></i></button>
            </div>
                </div>
        </div>
    </div>
</div>
