<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">{{ mainTitle }}</h1>
            <span class="mainDescription">overview &amp; stats </span>
        </div>
        <div class="col-sm-5">
            <!-- start: MINI STATS WITH SPARKLINE -->
            <!-- /// controller:  'SparklineCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
            <ul class="mini-stats pull-left" ng-controller="SparklineCtrl">
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="sales" type="bar" height="20px" bar-color="#D43F3A"></span>
                    </div>
                    <div class="values">
                        <strong class="text-dark">18304</strong>
                        <p class="text-small no-margin">
                            Sales
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="earnings" type="bar" height="20px" bar-color="#5CB85C"></span>
                    </div>
                    <div class="values">
                        <strong class="text-dark">&#36;3,833</strong>
                        <p class="text-small no-margin">
                            Earnings
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="referrals" type="bar" height="20px" bar-color="#46B8DA"></span>
                    </div>
                    <div class="values">
                        <strong class="text-dark">&#36;848</strong>
                        <p class="text-small no-margin">
                            Referrals
                        </p>
                    </div>
                </li>
            </ul>
            <!-- end: MINI STATS WITH SPARKLINE -->
        </div>
    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Manage Users</h2>
                    <p class="text-small">
                        To add users, you need to be signed in as the super user.
                    </p>
                    <p class="links cl-effect-1">
                        <a href>
							view more
						</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Manage Invoices</h2>
                    <p class="text-small">
                        The Manage Invoices tool provides a view of all your invoices.
                    </p>
                    <p class="cl-effect-1">
                        <a href>
							view more
						</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Manage Jobs</h2>
                    <p class="text-small">
                        The Manage Jobs tool provides a view of all your jobs.
                    </p>
                    <p class="links cl-effect-1">
                        <a href>
							view more
						</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->
<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="panel panel-white no-radius" id="visits">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title"> Average Revenue Per Client </h4>
                            <ul class="panel-heading-tabs border-light">
                                <li>
                                    <div class="pull-left">
                                        <div class="btn-group" dropdown is-open="status.isopen">
                                            <a dropdown-toggle ng-disabled="disabled" class="padding-10">
                                                <i class="ti-more-alt "></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-light" role="menu">
                                                <li>
                                                    <a href="#">
														Action
													</a>
                                                </li>
                                                <li>
                                                    <a href="#">
														Another action
													</a>
                                                </li>
                                                <li>
                                                    <a href="#">
														Something else here
													</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="rate">
                                        <i class="fa fa-caret-up text-primary"></i><span class="value">15</span><span class="percentage">%</span>
                                    </div>
                                </li>
                                <li class="panel-tools">
                                    <ct-paneltool tool-refresh="load1"></ct-paneltool>
                                </li>
                            </ul>
                        </div>
                        <div collapse="visits" ng-init="visits=false" class="panel-wrapper">
                            <div class="panel-body">
                                <!-- /// controller:  'VisitsCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
                                <div ng-controller="VisitsCtrl" class="height-350">
                                    <canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
                                    <div class="margin-top-20 row">
										<div class="col-md-3">
											<input class="form-control col-md-2" type="text" placeholder="From" bs-datepicker ng-model="vm.start_date" data-autoclose="1" data-date-type="string" data-date-format="{{app.format_date}}" data-container="body" />
										</div>
										<div class="col-md-3">
											<input class="form-control  col-md-2" type="text" placeholder="To" bs-datepicker ng-model="vm.end_date" data-autoclose="1" data-date-type="string" data-date-format="{{app.format_date}}" data-container="body" data-min-date="{{vm.start_date}}" />
										</div>
										<div class="col-md-6">
											 <div tc-chartjs-legend chart-legend="chart1" class="inline pull-right"></div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-white no-radius" style="margin-bottom: 8px;">
                        <div class="panel-heading border-bottom">
                            <h4 class="panel-title">Placement Rate</h4>
                        </div>
                        <div class="panel-body">
                            <!-- /// controller:  'OnotherCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
                            <div ng-controller="OnotherCtrl">
                                <div class="text-center">
                                    <span class="mini-pie"> <canvas class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="data" chart-legend="chart3" width="100"></canvas> <span>{{total}}</span> </span>
                                    <span class="inline text-large no-wrap">Placements</span>
                                </div>
                                <div class="margin-top-20 text-center legend-xs">
                                    <div tc-chartjs-legend chart-legend="chart3" class="inline"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="clearfix padding-5 space5">
                                <div class="col-xs-4 text-center no-padding">
                                    <div class="border-left border-dark">
                                        <span class="text-bold block text-extra-large">90%</span>
                                        <span class="text-light">Successful</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 text-center no-padding">
                                    <div class="border-left border-dark">
                                        <span class="text-bold block text-extra-large">2%</span>
                                        <span class="text-light">Failed</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 text-center no-padding">
                                    <span class="text-bold block text-extra-large">8%</span>
                                    <span class="text-light">Unknown</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding:0px">
                        <div class="panel panel-white no-radius">
                            <div class="panel-body padding-20 text-center">
                                <div class="">
                                    <h5 class="text-dark no-margin" style="font-size: 16px;">Average Lifeline Of Subscription</h5>
                                    <h2 class="no-margin">1,450</h2>
                                    <span class="badge badge-danger margin-top-10">lifelines</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FIRST SECTION -->



<!-- start: FOURTH SECTION -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <!-- /// controller:  'SparklineCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
                <div ng-controller="SparklineCtrl">
                    <div class="col-md-6">
                        <div class="panel panel-white no-radius">
                            <div class="panel-body padding-20 text-center">
                                <div class="space10">
                                    <h5 class="text-dark admin-box no-margin">Active Clients</h5>
                                    <h2 class="no-margin">1,450</h2>
                                    <span class="badge badge-danger margin-top-10">active</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-white no-radius">
                            <div class="panel-body padding-20 text-center">
                                <div class="space10">
                                    <h5 class="text-dark admin-box no-margin">Average Users Per Client</h5>
                                    <h2 class="no-margin">1,450</h2>
                                    <span class="badge badge-danger margin-top-10">users</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                    <div class="panel panel-white no-radius">
                        <div class="panel-body padding-20 text-center">
                            <div class="space10">
                                <h5 class="text-dark admin-box no-margin">Average Postings Per Client</h5>
                                <h2 class="no-margin">1,450</h2>
                                <span class="badge badge-danger margin-top-10">postings</span>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="panel panel-white no-radius">
                            <div class="panel-body padding-20 text-center">
                                <div class="space10">
                                    <h5 class="text-dark admin-box no-margin">Average Salary Per Posting</h5>
                                    <h2 class="no-margin">1,450</h2>
                                    <span class="badge badge-danger margin-top-10">postings</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-white no-radius">
                <div class="panel-heading border-bottom">
                    <h4 class="panel-title">Recent Activities</h4>
                </div>
                <div class="panel-body recent-activities" style="padding:0px 15px;">
                    <ul class="timeline-xs margin-bottom-15">
                        <li class="timeline-item success">
                            <div class="margin-left-15 margin-top-10 ">
                                <div class="text-muted text-small">
                                    2 minutes ago
                                </div>
                                <p>
                                    <a class="text-info" href>
										Steven
									</a> has completed his account.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="margin-left-15 margin-top-10">
                                <div class="text-muted text-small">
                                    12:30
                                </div>
                                <p>
                                    Staff Meeting
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item danger">
                            <div class="margin-left-15 margin-top-10">
                                <div class="text-muted text-small">
                                    11:11
                                </div>
                                <p>
                                    Completed new layout.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item info">
                            <div class="margin-left-15 margin-top-10">
                                <div class="text-muted text-small">
                                    Thu, 12 Jun
                                </div>
                                <p>
                                    Contacted
                                    <a class="text-info" href>
										Microsoft
									</a> for license upgrades.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FOURTH SECTION -->
