<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mainTitle text-primary">USER MANAGEMENT</h1>
			<form class="form-inline pull-left">
				<div class="form-group">
					<div class="checkbox clip-check check-primary">
						<input ng-model="vm.allRows" type="checkbox" id="checkbox-all" ng-change="vm.toggleRows()" />
						<label for="checkbox-all">All rows</label>
					</div>
				</div>
				<div class="form-group">
					<select class="cs-select cs-skin-elastic">
						<option value="Action" selected>Action</option>
						<option value="Action 1">Action 1</option>
						<option value="Action 2">Action 2</option>
						<option value="Action 3">Action 3</option>
						<option value="Action 4">Action 4</option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-o">Apply</button>
				</div>
			</form>
			<form class="form-inline pull-right">
				<div class="form-group">
					<button ngif="loggedInUser.role_name == 'admin' || loggedInUser.role_name == 'company'" ng-click="vm.addUser()" class="btn btn-primary btn-o ng-click-active" type="button"><i class="fa fa-user-plus"></i> User</button>
					<input ng-keypress="vm.keypress($event)" type="text" ng-model="vm.keyword" class="form-control" placeholder="Search..." />
					<button ng-click="vm.getList()" type="button" class="btn btn-primary btn-o">Search</button>
				</div>
			</form>
			<table class="table table-striped table-user">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Access</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.items">
						<td>
							<div class="checkbox clip-check check-primary">
								<input type="checkbox" id="checkbox_{{item.getId()}}" ng-model="item.checked" />
								<label for="checkbox_{{item.getId()}}"></label>
							</div>
						</td>
						<td>{{item.getFullName()}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.email}}</td>
						<td>{{item.role_name}}</td>
						<td>
							<a href="#" class="btn btn-transparent"><i class="fa fa-edit"></i></a>
							<a href="#" class="btn btn-transparent btn-xs"><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
					<tr ng-if="vm.items.length == 0">
						<td colspan="6">No record found!</td>
					</tr>
				</tbody>
			</table>
			<div class="text-right">
				<pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.paginator.per_page" total-items="vm.paginator.total" ng-model="vm.paginator.current_page" ng-change="vm.getList()"></pagination>
			</div>
		</div>
	</div>
</div>