<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mainTitle text-primary">Phone Screen</h1>
        </div>
    </div>
    <div class="row header-large-screen">
        <div class="col-md-12">
            <div class="col-md-3">
                <p class="text-bold text-center">
                    Candidate Quick Select
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-bold text-center">
                    Candidate Resume
                </p>
            </div>
            <div class="col-md-3">
                <div class="quick-note clearfix">
                    <p class="text-bold pull-left">Quick Notes</p>
                    <div class="pull-right">
                        <button ng-click="vm.saveQuickNote()" class="btn btn-primary btn-o" type="button">Save</button>
                        <button ng-click="vm.share()" class="btn btn-primary btn-o" type="button">Share</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group header-inline">
                    <p class="text-bold text-center">
                        Candidate Quick Select
                    </p>
                </div>
                <div class="panel panel-white no-padding">
                    <div class="panel-heading">
                        <h4 class="panel-title text-primary">Candidates</h4>
                        <ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
                    </div>
                    <div class="panel-body">
                        <div class="panel-scroll height-300" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                            <div class="table-responsive" perfect-scrollbar="" wheel-propagation="false" suppress-scroll-x="true">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr ng-class="{active: vm.isActive(item)}" ng-click="vm.select(item)" ng-repeat="item in vm.items">
                                            <td class="pointer">
                                                {{item.candidate.name}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group header-inline">
                    <p class="text-bold text-center">
                        Candidate Resume
                    </p>
                </div>
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="panel-scroll phone-candidate-resume" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                            <div ng-if="vm.isSelected()" pdf-viewer data-model="vm.candidateSelected" pdf-url="vm.candidateSelected.resume"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="quick-note clearfix header-inline">
                    <p class="text-bold pull-left">Quick Notes</p>
                    <div class="pull-right">
                        <button ng-click="vm.saveQuickNote()" class="btn btn-primary btn-o" type="button">Save</button>
                        <button ng-click="vm.share()" class="btn btn-primary btn-o" type="button">Share</button>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="phone-quick-note" rows="14" placeholder="" class="form-control" ng-model="vm.selectedPhoneScreen.quick_note" ng-readonly="!vm.selectedPhoneScreen"></textarea>
                </div>
                <p class="margin-top-10">Invite candidate to Questionnaire?</p>
                <div class="text-center">
                    <button ng-disabled="!vm.isSelected()" class="btn btn-primary btn-large btn-o" type="button" ng-click="vm.invite()">Invite</button>
                    <button ng-if="!vm.showInvite()" ng-disabled="true" class="btn btn-success btn-large  btn-o" type="button">Invited</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group floating-nav-jobs text-center">
            <div>
            <button ng-click="vm.gotoCandidates()" class="btn btn-o btn-success" type="button"><i class="fa fa-arrow-left"></i> Candidates</button>
            <button ng-click="vm.gotoVideo()" class="btn btn-o btn-primary btn-o" type="button">Review Videos <i class="fa fa-arrow-right"></i></button>
            </div>

        </div>

    </div>
</div>
