<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mainTitle text-primary">My jobs</h1>
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-white">
						<div class="panel-heading border-light text-center">
							<h4 class="panel-title">PENDING JOBS</h4>
						</div>
						<div class="panel-body">
							<div class="height-80 static-block">
								<div class="chart-statistics normal-font-family">
									<h1>5</h1>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-right">
									<div class="rate">
										<i class="fa fa-caret-down text-red"></i><span class="value">-2</span><span class="percentage">%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-white no-radius">
						<div class="panel-heading border-light text-center">
							<h4 class="panel-title">DAILY VIEWS</h4>
						</div>
						<div class="panel-body">
							<div class="height-100">
								<canvas class="tc-chart" tc-chartjs-bar chart-options="vm.options8" chart-data="vm.data2"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-white">
						<div class="panel-heading border-light text-center">
							<h4 class="panel-title">SAVED JOBS</h4>
						</div>
						<div class="panel-body">
							<div class="height-80 static-block">
								<div class="chart-statistics normal-font-family">
									<h1>25</h1>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-right">
									<div class="rate">
										<i class="fa fa-caret-down text-red"></i><span class="value">-2</span><span class="percentage">%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-full panel-white">
						<div class="panel-body">
							<button class="btn btn-block btn-primary btn-o btn-post-job" ng-click="vm.postAJob()">Post A Job</button>
						</div>
					</div>
				</div>
			</div>
			<div class="title-heading">
				<h4 class="title text-primary">My Jobs</h4>
			</div>
			<div class="clearfix md-pull">
				<form class="form-inline pull-right">
					<div class="form-group width-200">
						<select ng-model="vm.status" class="cs-select cs-skin-elastic">
							<option value="">All</option>
							<option ng-selected="vm.status == '-1'" value="-1">Deleted</option>
							<option ng-selected="vm.status == '0'" value="0">Draft</option>
							<option ng-selected="vm.status == '1'" value="1">Active</option>
							<option ng-selected="vm.status == '2'" value="2">Closed</option>
							<option ng-selected="vm.status == '3'" value="3">Filled</option>
							<option ng-selected="vm.status == '4'" value="4">Archived</option>
							<option ng-selected="vm.status == '5'" value="5">Re-Opened (Internal)</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" ng-model="vm.keyword" class="form-control" placeholder="Search..." />
						<button ng-click="vm.search()" type="button" class="btn btn-primary btn-o">Search</button>
					</div>
				</form>
			</div>
			<table class="table table-striped table-user">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th class="cursor-pointer" ng:click="changeSorting('title')" ng:class="selectedCls('title')">Title</th>
						<th class="cursor-pointer" ng:click="changeSorting('status')" ng:class="selectedCls('status')">Status</th>
						<th class="cursor-pointer" ng:click="changeSorting('priority')" ng:class="selectedCls('priority')">Job Priority</th>
						<th>Location</th>
						<th class="cursor-pointer" ng:click="changeSorting('age')" ng:class="selectedCls('age')">Date Posted</th>
						<th class="cursor-pointer" ng:click="changeSorting('candidates')" ng:class="selectedCls('candidates')">Candidates</th>
						<th>Edit /Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.items|orderBy:sort.column:sort.descending">
						<td>
							<div class="checkbox clip-check check-primary">
								<input type="checkbox" id="checkbox_{{item.getId()}}" ng-model="item.checked" />
								<label for="checkbox_{{item.getId()}}"></label>
							</div>
						</td>
						<td>{{item.title}}</td>
						<td>{{item.status}}</td>
						<td>{{item.priority}}</td>
						<td>{{item.getLocation()}}</td>
						<td>{{item.age}}</td>
						<td>{{item.candidates}}</td>
						<td>
							<a ui-sref="fox.jobs.edit({id: item.id})" class="btn btn-transparent"><i class="fa fa-edit"></i></a>
							<a href="#" ng-click="vm.delete(item.getId())" class="btn btn-transparent btn-xs"><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
					<tr ng-if="vm.items.length === 0">
						<td colspan="8">
							No record found!
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-right">
				<pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.paginator.per_page" total-items="vm.paginator.total" ng-model="vm.paginator.current_page" ng-change="vm.getList()"></pagination>
			</div>
		</div>
	</div>
</div>
