<div class="questionnare openEndedTextOneLine">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="control.value">
            </div>
        </div>
    </div>
</div>
