<div class="questionnare rankOrder">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
            	<input type="file">
            </div>
        </div>
    </div>
</div>
