<div class="ngdialog-message">
    <h3 ng-if="title">{{title}}</h3>
    <div class="text-center">
		POSTING COMPLETED
    </div>
</div>
<div class="ngdialog-buttons text-right">
    <button type="button" class="btn btn-primary btn-o" ng-click="closeThisDialog('no')">Close</button>
</div>