<!-- start: SEARCH FORM -->
<div class="search-form">
    <a class="s-open" href="#">
        <i class="ti-search"></i>
    </a>
    <form class="navbar-form" role="search">
        <a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
            <i class="ti-close"></i>
        </a>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search...">
            <button class="btn search-button" type="button">
                <i class="ti-search"></i>
            </button>
        </div>
    </form>
</div>
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<ul class="main-navigation-menu">
    <li ng-class="{'active':$state.includes('fox.dashboard')}">
        <a ui-sref="fox.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-dashboard"></i>
                </div>
                <div class="item-inner">
                    <span class="title">Dashboard</span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active':$state.includes('fox.admindashboard')}">
        <a ui-sref="fox.admindashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-dashboard"></i>
                </div>
                <div class="item-inner">
                    <span class="title">Admin Dashboard</span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active':$state.includes('fox.candidates')}">
        <a ui-sref="fox.candidates">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-user"></i>
                </div>
                <div class="item-inner">
                    <span class="title">Candidates</span>
                </div>
            </div>
        </a>
    </li>
    <!--<li ng-class="{'active':$state.includes('fox.resumes')}">-->
    <!--<a ui-sref="fox.resumes">-->
    <!--<div class="item-content">-->
    <!--<div class="item-media">-->
    <!--<i class="ti-credit-card"></i>-->
    <!--</div>-->
    <!--<div class="item-inner">-->
    <!--<span class="title">Resumes</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <li ng-class="{'active':$state.includes('fox.my-jobs')}">
        <a ng-click="GoToMyJobsPage()">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-view-list-alt"></i>
                </div>
                <div class="item-inner">
                    <span class="title">My Jobs</span>
                    <i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-class="MyJobsListStatus == 0 ? 'active' : ''">
                <a ui-sref="fox.my-jobs.list({status: '0'})">
                    <span class="title">Draft ({{jobsCount['status-0']}})</span>
                </a>
            </li>
            <li ng-class="MyJobsListStatus == 1 ? 'active' : ''">
                <a ui-sref="fox.my-jobs.list({status: '1'})">
                    <span class="title">Active ({{jobsCount['status-1']}})</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fox.jobs-create.create">
                    <span class="title">Post Job</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active':$state.includes('fox.accounting')}">
        <a href="#">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-book"></i>
                </div>
                <div class="item-inner">
                    <span class="title">Accounting</span>
                    <i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="fox.accounting.accounting">
                    <span class="title">Accounting</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fox.accounting.revenue">
                    <span class="title">Revenue</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fox.settings.invoices">
                    <span class="title">Invoices</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fox.accounting.payment-details">
                    <span class="title">Payment Details</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fox.accounting.create-invoices">
                    <span class="title">Create Invoices</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fox.accounting.subscription">
                    <span class="title">Subscription</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('fox.myaccount')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-folder-open-o"></i>
                </div>
                <div class="item-inner">
                    <span class="title">My Account</span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="fox.myaccount.messages">
                    <span class="title">Messages</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fox.myaccount.interviews">
                    <span class="title">Interviews</span>
                </a>
            </li>
        </ul>

    </li>
    <li ng-class="{'active open':$state.includes('fox.settings')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-folder-open-o"></i>
                </div>
                <div class="item-inner">
                    <span class="title">Settings</span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="fox.settings.users">
                    <span class="title">Users</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fox.settings.company">
                    <span class="title">Company</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('fox.placement-record')}">
        <a ui-sref="fox.placement-record">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-notepad"></i>
                </div>
                <div class="item-inner">
                    <span class="title">Placement Record</span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU
