<!-- start: OFF RIGHT SIDEBAR TABSET -->
<tabset class="sidebar-wrapper" justified="true">
	<!-- start: TAB USER -->
	<tab>
		<tab-heading>
			<i class="ti-comments"></i>
		</tab-heading>
		<!-- /// controller:  'ChatCtrl' -  localtion: assets/js/controllers/chatCtrl.js /// -->
		<div id="users" toggleable active-class="chat-open" ng-controller="ChatCtrl">
			<div class="users-list">
				<div class="sidebar-content" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
					<h5 class="sidebar-title">On-line</h5>
					<ul class="media-list">
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223457)">
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Nicole Bell</h4>
									<span> Content Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223458)">
								<div class="user-label">
									<span class="label label-success">3</span>
								</div>
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Steven Thompson</h4>
									<span> Visual Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223459)">
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223460)">
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
					</ul>
					<h5 class="sidebar-title">Off-line</h5>
					<ul class="media-list">
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223457)">
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Nicole Bell</h4>
									<span> Content Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223458)">
								<div class="user-label">
									<span class="label label-success">3</span>
								</div>
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Steven Thompson</h4>
									<span> Visual Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223459)">
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223460)">
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223459)">
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223460)">
								<img alt="..." src="img/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="user-chat">				
					<div class="chat-content ">
						<a class="sidebar-back pull-left" href="#" ct-toggle="off" target="users"><i class="ti-angle-left"></i> <span translate="offsidebar.chat.BACK">Back</span></a>
						<div class="sidebar-content" id="off-chat" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
							
							<clip-chat messages="chat" id-self="selfIdUser" id-other="otherIdUser"></clip-chat>
						</div>
					</div>
					<chat-submit submit-function="sendMessage" ng-model="chatMessage" scroll-element="#off-chat"></chat-submit>
				
			</div>
		</div>
	</tab>
	<!-- end: TAB USER -->
</tabset>
<!-- end: OFF RIGHT SIDEBAR TABSET -->
