<nav ng-class="getNavStyle(scroll)">
  <button ng-click="goPrevious()"><</span></button>
  <button ng-click="goNext()">></span></button>

  <button ng-click="zoomIn()">+</span></button>
  <button ng-click="zoomOut()">-</span></button>

  <button ng-click="rotate()">90</span></button>

  <!-- <span>Page: </span>
  <input type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span> -->
</nav>

<hr>

{{loading}}
<canvas id="pdf" class="rotate0"></canvas>