<div>
	<ng-pdf ng-if="isAvailable()" template-url="common/pdf-viewer.tpl.html" canvasid="pdf" scale="page-fit" page=13></ng-pdf>
	<div ng-if="!isAvailable()">
		PDF file is not available!
	</div>
</div>