<div class="ngdialog-message">
    <h3 ng-if="title">{{title}}</h3>
    <div class="text-center">
    	<div>
    		POSTING TO HUNDREDS OF JOB BOARDS
    	</div>
    	<div class="windows8 margin-top-10">
			<div class="wBall" id="wBall_1">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_2">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_3">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_4">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_5">
				<div class="wInnerBall"></div>
			</div>
		</div>
    </div>
</div>
<!-- <div class="ngdialog-buttons text-right">
    <button type="button" class="btn btn-primary btn-o" ng-click="closeThisDialog('no')">Close</button>
</div> -->