<div>
    <h3>{{control.title}} <i class="fa fa-pencil" data-ng-click="toggle()"></i></h3>

    <div class="checkbox" ng-repeat="item in control.items">
        <label>
            <input name="{{control.name}}" type="checkbox" ng-model="item.value" ng-true-value="{{item.value}}"/>
            {{item.title}}
        </label>
    </div>
</div>